.main-header{
    background: $bodyColor !important;
    width: 100%;
    z-index: 1000;
}

.menu{
    padding-top: 0;
    padding-bottom: 0;
}

.menu-logo{
    width: 150px;
}


@media screen and (min-width: em(992)){
    .menu-item{
        margin-left: 30px;
    }
}

.menu-link{
    color: #4e4e51 !important;
    padding: 1rem 0;
    border-bottom: 2px solid transparent;
}

.menu-item .active{
    color: #e7b333 !important;
    border-bottom: 2px solid #e7b333 !important;
}

.menu-link:hover{
    color: #e7b333 !important;
}


.header__bottom{
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    padding: 0 16px;
    span{
        display: none;
    }
    .link-page{
        margin-left: 25px;
        padding: .4em;
        &:first-child{
            margin-left: 0;
        }
    }
}

@media screen and (min-width: em(992)){
    .header__top{
        .btn-menu-responsive{
            display: none;
        }

        .header__menu{
            width: auto;
            margin-top: 0 !important;
            .header__list{
                display: inline-block;
                margin-bottom: 0;
                .header__link{
                    padding: 1rem;
                }
            }
        }
    }
    .header__bottom{
        span{
            display: inline-block;
        }
        .link-page:hover{
            color: $darkColor;
        }
    }
}
